.footer {
  background-color: rgb(13, 13, 58);
  color: #fff;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 33px;
  p {
    color: #fff;
  }
}
